<html>
  <head>
    <title>Flask Intro - Create event page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please Create your event</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="tag" name="tag" value="{{
          request.form.tag }}">
         <input type="text" placeholder="title" name="title" value="{{
          request.form.title }}">
          <input type="text" placeholder="start_time" name="start_time" value="{{
          request.form.start_time }}">
          <input type="text" placeholder="end_time" name="end_time" value="{{
          request.form.end_time }}">
          <input type="text" placeholder="creator" name="creator" value="{{
          request.form.creator }}">
          <input type="text" placeholder="capacity" name="capacity" value="{{
          request.form.capacity }}">
          <input type="text" placeholder="description" name="description" value="{{
          request.form.description }}">
          <input type="text" placeholder="location" name="location" value="{{
          request.form.location }}">
          <input type="text" placeholder="enrolment" name="enrolment" value="{{
          request.form.enrolment }}">
          <input type="text" placeholder="user_id" name="user_id" value="{{
          request.form.user_id }}">
        <input class="btn btn-default" type="submit" value="Create event">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>