<html>
  <head>
    <title>Flask Intro - Create event page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please Create your event</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="search" name="search_query" value="{{
          request.form.tag }}">
        <input class="btn btn-default" type="submit" value="Find an event !">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>